<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            box-shadow: 3px 3px 10px black;
            height: auto;
            width: 40%;
            margin-left:27% ;
            padding: 30px;
        } input{
            width: 100%;
            padding: 5px;
        }
        #butt{
        margin-left: 45%;
        }
        h1{
            text-align: center;

        }
    </style>
</head>
<body>
    <h1> <i>ADD DETAILS</i></h1>
    <form action="/" method="post">
        <input type="text" placeholder="Enter Name..." name="name"><br><br>
        <input type="email" placeholder="Enter Email..." name="email"><br><br>
        <input type="number" placeholder="Enter Age..." name="age" ><br><br>
        <input type="text" placeholder="Enter City..." name="city"><br><br>
        <input type="text" placeholder="Enter Profession" name="profession"><br><br>
        <button id="butt">Submit</button>
    </form>
</body>
</html>